/* Fonts used */
/*
font-family: 'Orbitron', sans-serif;
font-family: 'IM Fell French Canon SC', serif;
*/

/* Background images */
body {
    margin: 0;
}
.about-container {
    background: url("../img/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 600px;
}
.bio-pic {
    height: 150px;
    border-radius: 100%;
    border-style: solid;
    border-color: rgb(255,255,255);
    margin-top: 40px;
}
.about {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/* Displays and colors */
.page_hr{
    border-top: 5px double rgb(171,194,232);
    width: 250px;
}
.box {
    float: left;
    width: 42.5%;
    margin-left: 5%;
    margin-top: 80px;
}
.clear_floats {
    clear: both;
}
.full_width {
    width: 100%;
}
/* Typography */
body {
    font-family: sans-serif;
}
h1 h2 h3 {
    font-family: 'Orbitron', sans-serif;
}
h1 {
    color: rgb(255,255,255);
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 0;
}
h2 {
    color: rgb(255,255,255);
    font-size: 18px;
    margin-top: 0;
}
h3 {
    text-align: center;
    font-size: 28px;
    font-weight: normal;
    margin-top: 100px;
}
h4 {
    text-align: center;
    font-size: 24px;
}
p {
    font-family: 'Cardo', serif;
}
.bio {
    color: rgb(255,255,255);
    font-size: 14px;
}
.h2-p-seperator {
    height: 3px;
    background-color: rgb(255,255,255);
    border: none;
    width: 50px;
}
.text-emp {
    font-style: italic;
    text-decoration: underline;
}